*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    
    width: 80%;
    min-height: 100px;
    margin: auto;
    border: 1px solid #000;
    
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

.for-box{
    padding: 25px;
    margin: 30px;
    border: 1px solid #000;
}

.table{
    padding: 10px;
    background-color: rgb(250, 196, 205);
    margin: auto;
}

table,tr,td{

    border: 1px solid #000;
    padding: 10px;

}

#fname{
    padding: 5px;
    margin-right: 15px;
}

#lname{
    padding: 5px;
}

#email{
    padding: 5px;
    padding-right: 205px;
}

#phone{
    padding: 5px;
    padding-right: 205px;
}

#add{
    padding: 5px;
    padding-right: 205px;
}

#add2-i{
    margin-right: 15px;
    padding: 5px;
}

#add2{
    padding: 5px;
}

#add-s{
    padding: 5px;
    padding-right: 115px;
}