*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 80%;
    min-height: 100px;
    margin: auto;
    padding: 10px;
    border: 5px solid #da0f0f;
    
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
}

.form-data{
    width: 100%;
    border: 1px solid #e73b3b;
    padding: 15px;
}

.form-data ,table{
    width: 80%;
    margin: auto;
    
}

.form-data ,table,tr,td{
    border: 1px solid #000;
}

.lable{
    text-align: right;
    padding-right: 8px;
}