*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    /* background: #000; */
    padding: 5px;
}

.container .section{
    padding: 40px;
    border: 1px solid #e20303;
    
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 390px 390px;

    gap: 20px;

}
.section .border{
    
    border: 1px solid #000;
}
.images1{
    border: 1px solid #000;
}
.images1 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}
.images2{
    border: 1px solid #000;
}
.images2 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}
.images3{
    border: 1px solid #000;
}
.images3 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}
.images4{
    border: 1px solid #000;
}
.images4 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}
.images5{
    border: 1px solid #000;
}
.images5 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}
.images6{
    border: 1px solid #000;
}
.images6 img{
    width: 100%;
    object-fit:cover;
    height: 390px;
}