*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-1{
    width: 100%;
    min-height: 750px;
    border: 1px solid #fd4f4f;
}
.section-2{
    width: 100%;
    min-height: 750px;
    border: 1px solid #08ff00;
}
.section-3{
    width: 100%;
    min-height: 750px;
    border: 1px solid #8402ff;
}