* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* sections-1 design here  */
.section-1 {
    width: 100%;
    min-height: 700px;
    border: 1px solid #fd4f4f;
    padding: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    grid-template-areas: "box-1 box-5 box-4 box-6"
        "box-3 box-7 box-2 box-8";
    gap: 30px;
}

.box-1 {
    grid-area: box-1;
    background-color: #6A4DBC;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* border: 1px solid #000; */
}

.box-1 .text {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 140px;
    grid-template-areas: "heading Line-1 Line-1"
        "Decs Decs Decs";

    align-items: center;
}

.text .heading {
    grid-area: heading;
    border-radius: 7px;
    text-align: center;
    background-color: white;
    color: #3778EB;
}

.text .Line {
    text-align: center;
    color: white;
    grid-area: Line-1;
}

.text .Decs {
    color: white;

    grid-area: Decs;
}

.text .Decs a {
    color: white;
    text-decoration: underline;
}

.box-1 button {
    width: 55%;
    padding: 5px 0px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #ffffff;
}

.box-1 button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 13px 2px rgb(255, 255, 255);
    border: 0.1px solid #0000006d;
}

.box-1 a {
    text-decoration: none;
    font-size: 2vh;
    font-weight: bold;
    color: #001F3D;
}

.box-2 {
    grid-area: box-2;
    background-color: #3778EB;
    border-radius: 40px;
    /* border: 1px solid #000; */
}

.box-3 {
    grid-area: box-3;
    background-color: #55B084;
    border-radius: 40px;
    /* border: 1px solid #000; */
}

.box-4 {
    grid-area: box-4;
    background-color: #D4A859;
    border-radius: 40px;
    /* border: 1px solid #000; */
}

.box-5 {
    grid-area: box-5;
    /* border-radius: 40px; */
    border: 1px solid #000;
    padding: 20px;
}

.box-5 h1 {
    font-weight: bolder;
    font-size: 4vh;
    color: #535353;
}

.box-5 .line {
    margin-bottom: 12px;
    height: 2px;
    width: 65%;
    border-radius: 40px;
    background-color: #003f3fbb;

}

.box-5 p {
    text-align: left;
    width: 90%;
    font-size: 1.7vh;
}

.box-6 {
    grid-area: box-6;
    border-radius: 40px;
    border: 1px solid #000;
}

.box-7 {
    grid-area: box-7;
    border-radius: 40px;
    border: 1px solid #000;
}

.box-8 {
    grid-area: box-8;
    border-radius: 40px;
    border: 1px solid #000;
}

/* section -2  */
.section-2 {
    width: 100%;
    min-height: 750px;
    border: 1px solid #08ff00;
}

/* section-3  */
.section-3 {
    width: 100%;
    min-height: 750px;
    border: 1px solid #8402ff;
}



/* media quireies  */
@media only screen and (max-width:490px) {

    /* container */
    .container {
        width: 100%;
    }

    /* section-1  */
    .section-1 {
        padding: 20px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 180px 180px 180px 180px;
        grid-template-areas: "box-1 box-5"
            "box-6 box-4"
            "box-3 box-7"
            "box-8 box-2";
    }

    .section-1 .box {
        border-radius: 20px;
    }

    .section-1 .box-5 h1 {

        font-weight: bolder;
        font-size: 4vh;
        color: #535353;
    }

    .section-1 .box-5 .line {
        margin-bottom: 8px;
        height: 2px;
        width: 75%;
        border-radius: 40px;
        background-color: #003f3fbb;

    }

    .section-1 .box-5 p {
        text-align: left;
        width: 95%;
        font-size: 2vh;
    }

    /* box-1 here  */
    .section-1 .box-1 {

        border-radius: 20px;
    }

    .section-1 .box-1 button {
        width: 65%;
        padding: 1px 2px;
        border-radius: 25px;
        background-color: white;
        border: 1px solid #ffffff;
    }

    .section-1 .box-1 a {
        text-decoration: none;
        font-size: 2.5vh;
        font-weight: bold;
        color: #001F3D;
    }

    .box-1 .text {
        width: 100%;
        height: 190px;
        margin-bottom: 10px;
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px 140px;
        grid-template-areas: "heading Line-1 Line-1"
            "Decs Decs Decs";

        align-items: center;
    }

    .text .heading {
        grid-area: heading;
        border-radius: 7px;
        text-align: center;
        background-color: white;
        color: #3778EB;
    }

    .text h4 {
        font-size: 3.5vw;
    }

    .text p {
        font-size: 2.9vw;
    }

    .text .Line {
        text-align: center;
        color: white;
        grid-area: Line-1;
    }

    .text .Decs {
        color: white;

        grid-area: Decs;
    }

    .text .Decs a {
        color: white;
        text-decoration: underline;
    }

}