*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    background: #000;
}

.container .Section{
    min-height: 800px;
    border: 1px solid #ff0000;
}
.S1{
    background-color: #4E5462;
}
.S1 .header{
    min-height: 80px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.header ul{
    list-style: none;
    display: flex;
    gap: 200px;
    background-color: transparent;
}
.header li{
    background-color: transparent;
}
.header a{
    text-decoration: none;
    font-size: 1.2vw;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
}

.header a:hover{
    cursor: pointer;
    font-weight: bold;
    transform: scale(0.3);
    transition: ease-out;
}

.S2{
    background-color: #EEF2F5;
    display: flex;
    flex-direction: column;
}
.Section .heading{
    min-height: 200px;
    text-align: center;
    padding: 0px 80px;
    align-content: center;
}
.heading .h1{
    font-size: 1.2vw;
}
.heading p{
    font-size: 1vw;
}
.Section .content-1{
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.content-1 .img{
    width: 20%;
    height: 400px;
}
.content-1 .img1 img{
    width: 100%;
    height: 400px;
}
.content-1 .img2 img{
    width: 100%;
    height: 400px;
}
.content-1 .img3 img{
    width: 100%;
    height: 400px;
}
.content-1 .img4 img{
    width: 100%;
    height: 400px;
}


.Section .button{
    min-height: 100px;
    border: 1px solid #000;
}

@media only screen and (max-width:490px) {
    .Section .content-1{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
}
