* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* sections-1 design here  */
.section-1 {
    width: 100%;
    min-height: 700px;
    border: 1px solid #fd4f4f;
    padding: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas: "box-1 box-5 box-4 box-6"
        "box-3 box-7 box-2 box-8";
    gap: 30px;
}
.box-1 {
    grid-area: box-1;
    background-color: #6A4DBC;
    border-radius: 40px;
    /* border: 1px solid #000; */
}
.box-2 {
    grid-area: box-2;
    background-color: #3778EB;
    border-radius: 40px;
    /* border: 1px solid #000; */
}
.box-3 {
    grid-area: box-3;
    background-color: #55B084;
    border-radius: 40px;
    /* border: 1px solid #000; */
}
.box-4 {
    grid-area: box-4;
    background-color: #D4A859;
    border-radius: 40px;
    /* border: 1px solid #000; */
}
.box-5 {
    grid-area: box-5;
    border-radius: 40px;
    border: 1px solid #000;
}
.box-5 h1{
    font-weight:lighter;
}
.box-6 {
    grid-area: box-6;
    border-radius: 40px;
    border: 1px solid #000;
}
.box-7 {
    grid-area: box-7;
    border-radius: 40px;
    border: 1px solid #000;
}
.box-8 {
    grid-area: box-8;
    border-radius: 40px;
    border: 1px solid #000;
}

/* section -2  */
.section-2 {
    width: 100%;
    min-height: 750px;
    border: 1px solid #08ff00;
}

/* section-3  */
.section-3 {
    width: 100%;
    min-height: 750px;
    border: 1px solid #8402ff;
}



/* media quireies  */
@media only screen and (max-width:490px) {

    /* container */
    .container {
        width: 100%;
    }
    /* section-1  */
    .section-1 {
        padding: 20px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "box-1 box-5"
            "box-6 box-4"
            "box-3 box-7" 
            "box-8 box-2";
    }
    .section-1 .box{
        border-radius: 20px;
    }
}