*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.main{
    background-color: rgb(243, 137, 211);
    width: 80%; 
    margin: auto; 
    padding: 20px;
    margin-top: 20px; 
}

h1{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    
}

.form-data{
    width: 100%;
    
    border: 1px solid #000; 
    background-color: rgb(255, 255, 255);;
}

.form-data ,th ,td{
    margin: auto;
    width: 60%;
    border: 1px solid #000;

}

table,th,td,tr{
    margin: auto;
    border: none;
}

input[type=text],
input[type=text],
input[type=number]
{
    padding: 5px;
     width: 450px;
    

}



.line-1{
    margin: 10px;
    border: 1px solid #000;
}

.bg-1{
    margin: 10px;
    width: 98%;
    height: 35px;
    background-color: #7b7171;
}

h2{
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.table{
    
    margin: 10px;
}

#name{
    padding: 10px;
    margin: 10px;
}