*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 80%;
    min-height: 100px;
    border: 1px solid #000;
    margin: auto;
    background-color: rgb(225, 151, 176);
}


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 10px;
}

.form-Data{
    width: 100%;
    min-height: 100px;
  /* border: 2px solid red; */
    padding: 20px;
}

.table,tr,td{
    
    padding: 5px;
    border: 1px solid #000;
    
}


#fname{
    padding: 5px;
    padding-right: 150px;
    margin-left: 10px;
    margin-right: 20px;

}

#lname{
    padding: 5px;
    padding-right: 150px;        
}
#email{
    padding: 5px;
    margin-left: 10px;
    padding-right: 490px;
}

#number{
    padding: 5px;
    margin-left: 10px;
    padding-right: 490px;
}