*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 80%;
    min-height: 100px;
    /* border: 1px solid #000; */
    margin: auto;
}

.form-data{
    width: 100%;
   /* border: 1px solid #c11111; */
    margin: auto;
    padding: 20px;
}
.form-data,table,tr,td{
    
   /* border: 1px solid #000; */
    margin: auto;
    
}

#side-1{
    width: 500px;
}

#reg{
    text-align: center;
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 8px;
}

#date-s{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
}
#no{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 8px;
    
}
#Date{
    border: 1px solid #c9c6c6;
    padding: 5px 40px 5px;
}

#No{
    border: 1px solid #c9c6c6;
    padding: 5px 60px 5px;

}
#side-2{
    width: 300px;
    
}

.section{
    
    padding-top: 2px;
    padding: 2px;
    background-color: hsl(45, 100%, 50%);
}

.section-a{
    
    padding-top: 2px;
    background-color: rgb(44, 10, 66);
}

.tTable{
    padding: 10px;
}

.Pinfo{
    padding: 8px;
    padding-left: 25px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffbf00;
}

.PinfoS{
    background-color: rgb(228, 228, 228);
}

.TextInfo{
    padding-top: 15px;
    padding-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contentS{
    color: #3b3838;
}
.contentBox{
    color: #3b3838; 
    padding-left: 40px;
}

#Regular{
    margin: 15px 0px 15px;
}

.pHead{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#fname{
     /* 10px top, 20px right, 30px bottom, 40px left */
    padding: 4px 80px 4px 80px;
    border: 1px solid #c9c6c6;
}

#nation{
    padding: 4px 10px 4px 10px;
    border: 1px solid #c9c6c6;
}