* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* border: 1px solid #ff0000; */
}

/* header section  */
.header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    /* gap: 5px; */
}

.header .logo {
    width: 30%;
    /* border: 1px solid #000; */
    background-color: transparent;
    align-content: center;
    text-align: center;
}

.logo h2 {
    color: rgb(208, 140, 13);
    background-color: transparent;
    font-size: 28px;
}

.header .menu {
    width: 45%;
    /* border: 1px solid #000; */
    background-color: transparent;
    align-content: center;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;

    list-style: none;
}

.menu ul li {
    background-color: transparent;
}

.menu ul li a {
    color: rgb(219, 104, 4);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    transition-duration: 0.3;
}

.menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header .button {
    width: 25%;
    /* border: 1px solid #000; */
    background-color: transparent;
    display: flex;
}

.button .bt1 {
    background-color: transparent;
    width: 50%;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

.button .bt2 {
    background-color: transparent;
    width: 50%;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

#h-btn {
    width: 65%;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
}

#h-btn:hover {
    cursor: pointer;
    border: 1px solid #e76d09;
    box-shadow: 0px 0px 8px rgba(47, 46, 46, 0.4);
}

.bt1 a {
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.bt2 a {
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

/* header end  */

/* section landing here  */
.sec1 {
    width: 100%;
    min-height: 600px;
    /* border: 1px solid #000; */
    /* background-color: #2700eb; */
    display: flex;
    background:
      linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
      url("./Imgaes/duo-1.jpeg");
    /* background-image: url(./Imgaes/duo-1.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;


}

.sec1 .area-1 {
    width: 55%;
    height: 600px;
    background-color: transparent;
    /* border: 1px solid #f30000; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 8px;
}

.area-1 .lines {
    width: 100%;
    height: 250px;
    /* border: 1px solid #000; */
    align-content: center;
    padding-left: 70px;
    background-color: transparent;
}

.lines h1 {
    color: white;
    font-size: 50px;
    background-color: transparent;
}

.area-1 .para {
    color: white;
    width: 100%;
    height: 150px;
    /* border: 1px solid #000; */
    background-color: transparent;
    align-content: center;
    padding-left: 70px;
    padding-right: 20px;
}

.para p {
    color: white;
    background-color: transparent;
    text-align: start;
}

.para a {
    text-decoration: none;
    color: #48CDD2;
    background-color: transparent;
}

.area-1 .explore {

    width: 100%;
    height: 100px;
    /* border: 1px solid #000; */
    background-color: transparent;
    padding-left: 70px;
    align-content: center;

}

.explore button {
    width: 27%;
    padding: 5px;
    border-radius: 20px;
    background-color:  white;
}

.explore button:hover {
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 0px 0px 12px 8px rgba(215, 213, 213, 0.6);
}

.explore button a {
    font-size: 14px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
}

.sec1 .area-2 {
    width: 45%;
    height: 600px;
    /* border: 1px solid #00ff73; */
    /* box-shadow: -40px 0px 20px rgb(0, 0, 0 ,0.3); */
    background-color: transparent;

}


/* boxes section  */
.sec2 {
    width: 100%;
    min-height: 300px;
    /* border: 1px solid #02a1f7; */

    display: flex;
    justify-content: space-evenly;
}

.sec2 .box {
    width: 33.4%;
    height: 300px;
    /* border: 1px solid #000; */
    text-align: center;
    align-content: center;
    padding: 40px;
}

.sec2 .box-1 {
    background-color: #000;
}

.sec2 .box-1 h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: transparent;
}

.sec2 .box-1 p {
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
}

.sec2 .box-2 {
    background-color: #46D2D4;
}

.sec2 .box-2 h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: transparent;
}

.sec2 .box-2 p {
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
}

.sec2 .box-3 {
    background-color: #2DBCC0;
}

.sec2 .box-3 h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: transparent;
}

.sec2 .box-3 p {
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
}

.sec3 {
    width: 100%;
    min-height: 400px;
    /* border: 1px solid #ff0000; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec3 .logo-1 {
    width: 80%;
    height: 90px;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

.logo-1 img {
    width: 10%;
}

.sec3 .head-line {
    width: 80%;
    height: 50px;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

.head-line h1 {
    font-size: 25px;
    /* letter-spacing: 2px; */
    font-family: Arial, Helvetica, sans-serif;
}

.sec3 .desc {
    width: 80%;
    height: 150px;
    /* border: 1px solid #000; */
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
    text-align: center;
}

.desc p {
    font-size: 14px;
    /* letter-spacing: 2px; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: inherit;
}

.sec3 .btn-s {
    width: 80%;
    height: 80px;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

.btn-s button {
    width: 17%;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #000000;
}

.btn-s a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.btn-s button:hover {
    cursor: pointer;
    border: 1px solid #17B4BB;
    box-shadow: 0px 0px 12px 5px rgba(100, 84, 84, 0.2);
}

.sec4 {
    width: 100%;
    min-height: 490px;
    /* border: 1px solid #2700eb; */
    display: flex;

}

.sec4 .c-1 {
    width: 50%;
    height: 490px;
    /* border: 1px solid #000; */
}

.c-1 img {
    width: 100%;
}

.sec4 .c-2 {
    width: 50%;
    height: 490px;
    background-color: #37D2D7;
    /* border: 1px solid #000; */
    padding: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;

}

.c-2 .C-21 {
    width: 85%;
    height: 150px;
    /* border: 1px solid #000; */
    background-color: transparent;
}

.c-2 .C-22 {
    width: 85%;
    height: 250px;
    padding: 15px 0px 0px 0px;
    /* border: 1px solid #000; */
    background-color: transparent;
}

.C-21 h1 {
    color: white;
    background-color: transparent;
}

.C-22 .p1 {
    color: white;
    margin-bottom: 15px;
    background-color: transparent;
}

.C-22 p {
    color: white;
    font-size: 13px;
    background-color: transparent;
}

.c-2 .C-23 {
    width: 85%;
    height: 100px;
    /* border: 1px solid #000; */
    background-color: transparent;

    align-content: center;
}

.C-23 button {
    width: 30%;
    padding: 1px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #00000080;
}

.C-23 button:hover {
    cursor: pointer;
    border: 1px solid #c25100;
    box-shadow: 0px 0px 12px 8px rgba(94, 94, 94, 0.2);
}

.C-23 a {
    text-decoration: none;
    font-weight: 400;
    color: #37D2D7;
    font-size: 16px;
    background-color: transparent;
}

.sec5 {
    width: 100%;
    min-height: 640px;
    /* border: 1px solid #ff0000; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 250px 250px 60px;
    grid-template-areas: "SR-1 SR-1 SR-1"
        "SR-2 SR-3 SR-4"
        "SR-5 SR-6 SR-7"
        "SR-8 SR-8 SR-8";


}

.sec5 .S-5 {
    padding: 0px 35px 0px 35px;
    /* border: 1px solid #000; */
    text-align: center;
    align-content: center;
}

.S-5 img {
    width: 20%;
    margin-bottom: 10px;
}

.S-5 h3 {
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
}

.S-5 p {
    color: rgb(104, 104, 104);
    text-align: inherit;
    font-size: 13px;
}

.sec5 .SR-1 {
    grid-area: SR-1;

}

.SR-1 h2 {
    margin-bottom: 10px;
}

.SR-1 h5 {
    color: rgb(104, 104, 104);
    font-weight: lighter;
}

.sec5 .SR-2 {
    grid-area: SR-2;

}

.sec5 .SR-3 {
    grid-area: SR-3;
}

.sec5 .SR-4 {
    grid-area: SR-4;
}

.sec5 .SR-5 {
    grid-area: SR-5;
}

.sec5 .SR-6 {
    grid-area: SR-6;
}

.sec5 .SR-7 {
    grid-area: SR-7;
}

.sec5 .SR-8 {
    grid-area: SR-8;
}

.SR-8 button {
    width: 15%;
    padding: 2px;
    background-color: white;
    border: 1px solid #00000080;
}

.SR-8 button:hover {
    cursor: pointer;
    border: 1px solid #c25100;
    box-shadow: 0px 0px 8px 2px rgba(61, 75, 182, 0.2);
}

.SR-8 a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    background-color: transparent;
}


.sec6 {
    width: 100%;
    min-height: 490px;
    /* border: 1px solid #2700eb; */
    display: flex;

}

.sec6 .c-1 {
    width: 50%;
    height: 490px;
    /* border: 1px solid #000; */
}

.c-1 img {
    width: 100%;
    height: 490px;
}

.sec6 .c-2 {
    width: 50%;
    height: 490px;
    background-color: #F1F1F1;
    /* border: 1px solid #000; */
    padding: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;

}

.sec6 .c-2 .C-21 {
    width: 85%;
    height: 150px;
    /* border: 1px solid #000; */
    background-color: transparent;
}

.sec6 .c-2 .C-22 {
    width: 85%;
    height: 250px;
    padding: 15px 0px 0px 0px;
    /* border: 1px solid #000; */
    background-color: transparent;
}

.sec6 .C-21 h1 {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.sec6 .C-22 .p1 {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    font-weight: bold;
    background-color: transparent;
}

.sec6 .C-22 p {
    color: rgb(0, 0, 0);
    font-size: 13px;
    background-color: transparent;
}

 .sec6 .c-2 .C-23 {
    width: 85%;
    height: 100px;
    /* border: 1px solid #000; */
    background-color: transparent;

    align-content: center;
}

.sec6 .C-23 button {
    width: 30%;
    padding: 1px;
    border-radius: 25px;
    background-color: #37D2D7;
    border: 1px solid #00000080;
}

.sec6 .C-23 button:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 12px 8px rgba(98, 235, 237, 0.2);
}

.sec6 .C-23 a {
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    background-color: transparent;
}

.sec7{
    width: 100%;
    height: 150px;
    padding: 20px 60px 20px 60px;
    background-color: #37D2D7;

    display: flex;

}
.sec7 .S7-div1{
    width: 65%;
    background: transparent;
    /* border: 1px solid #000; */
}
.S7-div1 h2{
    background: transparent;
    color: white;
    font-size: 24px;
}
.S7-div1 p{
    background: transparent;
    color: white;
    font-size: 13px;
    margin-top: 10px;
}
.sec7 .S7-div2{
    width: 35%;
    background: transparent;
    /* border: 1px solid #000; */
    align-content: center;
    text-align: center;
}

.S7-div2 button {
    width: 30%;
    padding: 2px;
    border-radius: 22px;
    background-color: white;
    border: 1px solid #00000080;
}

.S7-div2 button:hover {
    cursor: pointer;
    border: 1px solid #c25100;
    box-shadow: 0px 0px 12px 8px rgba(94, 94, 94, 0.2);
}

.S7-div2 a {
    text-decoration: none;
    font-weight: 400;
    color: #37D2D7;
    font-size: 14px;
    background-color: transparent;
}

.sec8{
    width: 100%;
    min-height: 540px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 130px 260px 150px;
    grid-template-areas: "S8-1 S8-1 S8-1 S8-1"
    "S8-2 S8-3 S8-4 S8-5"
    "S8-6 S8-6 S8-6 S8-6";

    gap: 5px;
}
.sec8 .S8{
    /* border: 1px solid #000; */
    text-align: center;
    align-content: center;
    
}
.S8 img{
    width: 100%;
}
.S8 p{
    color: #454545;
    font-size: 13px;
    text-align: inherit;
    margin-top: 10px;
}

.S8-1{
    padding-left: 60px;
    padding-right: 60px;
    grid-area: S8-1;
}
.S8-2{
    grid-area: S8-2;
}
.S8-3{
    grid-area: S8-3;
}
.S8-4{
    grid-area: S8-4;
}
.S8-5{
    grid-area: S8-5;
}
.S8-6{
    grid-area: S8-6;

    align-content: center;
    text-align: center;
}

.S8-6 button {
    width: 17%;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #940000;
    background-color: #000;
}

.S8-6 a {
    background: transparent;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.S8-6 button:hover {
    cursor: pointer;
    border: 1px solid #17B4BB;
    box-shadow: 0px 0px 12px 5px rgba(100, 84, 84, 0.2);
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #454545;
    align-content: center;
    text-align: center;
}

.footer h5 {
    color: #ffffff;
    background-color: transparent;
}