@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Fjalla+One&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    border: 1px solid #000;
    padding: 50px;
    background-color: #372D2B;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container .S {
    width: 100%;
    height: 100vh;
    border: 1px solid #ffffff;
}


.container .section-1 {
    /* border: 2px solid #ff0000; */
    /* width: 100%; */

    background-image: url(../Images/leon-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 20px;
    padding: 50px;
}

.section-1 .header {
    width: 100%;
    height: 80px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 25%;
    /* border: 1px solid #000; */
    align-content: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.logo i {
    font-size: 40px;
}

.logo h4 {
    letter-spacing: 4px;
}

.menu {
    width: 50%;
    position: relative;
    /* border: 1px solid #000; */
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #615E33;
    transition: all 0.2s linear;
}

.menu ul li a:hover {
    padding: 2px 7px;
    border-radius: 5px;
    color: white;
    background-color: #615E33;
    box-shadow: 0px 0px 12px #615E33;

}

/* Burger hidden on desktop */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.buttons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid #ec1313; */
}

.buttons i {
    font-size: 18px;
}

.buttons button {
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #FCBF54;
    transition: all 0.2s linear;
}

.buttons button:hover {
    padding: 4px 8px;
    box-shadow: 0px 0px 12px 12px black;
}

.buttons button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.section-1 .content {
    width: 50%;
    margin-top: 120px;
    height: 300px;
    /* border: 1px solid #000; */
}

.section-1 h1 {
    font-size: 70px;
    font-weight: 400;
    color: white;

    margin-bottom: 18px;
}

.section-1 p {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}

.section-1 button {
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #FCBF54;
    transition: all 0.2s linear;
}

.section-1 button:hover {
    padding: 4px 8px;
    box-shadow: 0px 0px 12px #ffffff;
}

.section-1 a {
    color: white;
    text-decoration: none;
}


/* media quiries */
@media only screen and (max-width:486px) {

    .container {
        width: 100%;
        background-color: transparent;
        padding: 15px;
        border: none;
    }

    .container .S {
        width: 100%;
        height: 510px;

        border: 1px solid #000;
    }

    .container .section-1 {
        padding: 15px;
    }

    .container .header {
        height: 50px;
        border-radius: 15px;
        padding: 15px;


        justify-content: space-evenly;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10px;
        grid-template-areas: "logo btn menue";

        justify-content: space-evenly;
        align-items: center;
    }

    .header .logo {
        width: 50%;
        grid-area: logo;
    }

    .header .menu {
        grid-area: menue;
    }

    .header .buttons {
        width: 40%;
        grid-area: btn;
    }

    .header .buttons i {
        font-size: 14px;
    }

    .header button a {
        color: black;
    }

    .header i {
        font-size: 20px;
    }

    .header h4 {
        font-size: 11px;
    }

    .menu {
        width: 10%;
    }

    /* Show burger */
    .burger {
        display: block;
        color: #615E33;
        padding: 10px;
    }

    /* Hide menu initially */
    .menu ul {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 45px;
        right: 10px;
        width: 150px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .menu ul li {
        text-align: left;
        padding: 5px 10px;

        border-bottom: 1px solid #000;
    }
    .menu li:hover{
        background-color: #615E33;
        border-bottom: 1px solid #fffefe;
        color: white;
    }

    /* Active menu */
    .menu ul.active {
        display: flex;
    }


}