*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.container{
    width: 100%;
    margin: auto;
    border: 1px solid #000;
    background-color: #372D2B;
}

.container .S{
    width: 100%;
    min-height: 100vh;
    border: 1px solid #ffffff;
}