*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.container{
    width: 100%;
    margin: auto;
    border: 1px solid #000;
    padding: 50px;
    background-color: #372D2B;
}

.container .S{
    width: 100%;
    height: 100vh;
    border: 1px solid #ffffff;
}

.container .section-1{
    border: 2px solid #ff0000;
    width: 100%;

    background-image: url(../Images/leon-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 20px;
    padding: 50px;
}

.section-1 .header{
    border: 1px solid #ffffff;
}