*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100hv;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgb(226, 238, 247);
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(94, 156, 248);
    border: 1px solid #000;
}