*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100hv;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.box{
    border: 1px solid #000;
}