* {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgb(226, 238, 247);
}

.box {
    width: 300px;
    height: 300px;
    background-color: rgb(94, 156, 248);
    border-radius: 50%;
    border: 1px solid #2d6dc0;

    animation: bubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes bubble {
    0% {
        opacity: 100%;
        width: 100px;
        height: 100px;
    }

    50% {
        opacity: 60%;
        width: 200px;
        height: 200px;
        border: none;
    }

    100% {
        opacity: 10%;
        width: 300px;
        height: 300px;
        border: none;
    }
}