@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Fjalla+One&family=Outfit:wght@100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #23253A;
    font-family: "Outfit", sans-serif;

}

.container {
    width: 100%;
    margin: auto;
    position: relative
}

/* floating button */
.arrow {
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 60px;
    padding: 5px;
    position: fixed;
    top: 85%;
    left: 83%;
    z-index: 1;

    align-content: center;
    text-align: center;
    padding-bottom: 5px;
    border: 1px solid #ffffff;
    /* border: 1px solid #5d0174;
    background-color: white;
    box-shadow: 0 0 20px rgba(241, 237, 176, 0.7); 
    */
    
    /* Create space for border */
    
    /* Half red, half blue */
    /* border-image-slice: 1; */
    /* Make sure border-image fills the entire border area */

}
.arrow i{
    color: #FF4B57;
    background-color: transparent;
    font-size: 35px;
}

/* header here  */
.header {
    position: sticky;
    top: 0px;
    width: 100%;
    margin: auto;
    height: 75px;
    /* border: 1px solid #ffffff; */

    background-color: rgba(109, 76, 138, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;

    display: flex;
}

.header .profile {
    flex-basis: 15%;
    background-color: transparent;
    align-content: center;
    text-align: center;

    border-right: 3px solid #FF4B57;
    margin-top: 7px;
    margin-bottom: 7px;
}

.profile img {
    margin-top: 3px;
    border-radius: 60%;
    width: 28%;
    height: 60px;
    border: 1px solid #483862;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.header .heading-s {
    flex-basis: 55%;
    margin-top: 7px;
    margin-bottom: 7px;
    align-content: center;
    background-color: transparent;
    /* border: 1px solid #ffffff; */
}

.heading-s h3 {
    margin-left: 25px;
    word-spacing: 3px;
    font-weight: 900;
    color: white;
    background-color: transparent;
}

.header .s-icons {
    flex-basis: 30%;
    background-color: transparent;
    /* border: 1px solid #ffffff; */

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.s-icons .ic{
    flex-basis: 35%;
    height: 35px;
    border-radius: 30px;
    background-color: #bab9c97a;
    border: 1px solid #000;

    /* text-align: center; */
    align-items: center;
    display: flex;
    gap: 5px;
}
.ic:hover{
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px white;
}
.ic .ic1{
    background-color: transparent;
}
.ic1 i{
    font-size: 25px;
    background-color: transparent;
}
.ic .ic2{
    background-color: transparent;
}
.ic2 a{
    font-size: 18px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}
#ic1{
    background-color: #5681ca8f;
}



/* sections here  */
.S {
    min-height: 90vh;
    /* border: 1px solid #ffffff; */
    /*  remove it after */
    display: flex;
    gap: 60px;
    padding: 60px;

}

.S .M {
    width: 50%;
    max-height: 70vh;
    padding-top: 30px;

    background-color: #2B2E41;
    border: 1px solid #ffffff33;

    position: relative;
    /* overflow: hidden; */
}

.M .head {

    width: 60%;
    min-height: 50px;
    /* border-left: 5px solid #FF4B57; */
    /* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */
    box-shadow: -6px 0 0px -1px #FF4B57;
    border-radius: 0px 30px 0px 0px;
    padding-left: 30px;
    align-content: center;

}

.S .M-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        radial-gradient(2px 2px at 20px 30px, white, transparent),
        radial-gradient(1.5px 1.5px at 100px 80px, white, transparent),
        radial-gradient(1px 1px at 200px 150px, white, transparent),
        radial-gradient(2px 2px at 300px 40px, white, transparent),
        radial-gradient(1.5px 1.5px at 400px 120px, white, transparent);

    background-size: 200px 200px;
    animation: snow-fall 12s linear infinite;
    opacity: 0.8;
    z-index: 0;
}

@keyframes snow-fall {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 600px;
    }
}

.S .M>* {
    position: relative;
    z-index: 0;
}





.head h3 {
    background-color: transparent;
    color: #FF4B57;
    letter-spacing: px;
    word-spacing: 5px;
    font-size: 26px;
}

.M i {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.514);
    font-size: 55px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.M ul {
    background-color: transparent;
    margin-left: 40px;
}

.M ul li {
    list-style: square;
    font-size: 18px;
    color: whitesmoke;
    /* list-style: none; */
    background-color: transparent;
}

.M p {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 70px;
    background-color: transparent;
    color: white;
}

.container .M1 {
    position: relative;
}

.M p::after {
    position: absolute;
    content: "";
    width: 45%;
    background-color: #ffffff;
    height: 1px;
    bottom: -40px;
    left: 0px;
    transition: all 0.3s linear;
}

.M p:hover::after {
    width: 80%;
}


/* footer  */
/* .footer {
    width: 100%;
    min-height: 55vh;
    background-color: #2642A3;
    border: 1px solid #000;

    display: flex;
}

.footer .white {
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;

    gap: 5px;
    position: relative;
}

.white h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    background-color: transparent;

}

.white h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40%;
    top: 58px;
    left: 20px;
    
    background-color: crimson;
    transition: all 0.3s linear;
}
.white h2:hover:after{
    cursor: pointer;
    width: 70%;
}
.white p{
    background-color: transparent;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 30px;
    text-align: start;
}
.white h3{
    background-color: transparent;
    font-size: 13px;
    margin-top: 8px;
    font-weight: bolder;
} */
/* header social content section  */
/* 
.footer .social{
    padding: 20px;
    
    width: 80%;
    background-color: transparent;
    display: grid;
     grid-template-columns: repeat(4,1fr);
   
    grid-template-areas: "div1 div1 div1 div1"
    "div2 div3 div4 div5"
    "div6 div6 div6 div6";

}
.social .S-M{
    
    height: 100px;
    background-color: transparent;
   
}
.S-M a{ background-color: transparent;
   
}
.social .div1{
    grid-area: div1;
    text-align: center;
    align-content: center;
    position: relative;
}
.div1 h1{
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    white-space: 3px;
    font-size: 35px;
}
.div1 h1::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 1px;
    top: 80px;
    left: 350px;
    background-color: #fcfcfc;
}
.social .div2{grid-area: div2;}
.social .div3{grid-area: div3;}
.social .div4{grid-area: div4;}
.social .div5{grid-area: div5;}
.social .div6{grid-area: div6;}

.div6{
    text-align: center;
    align-content: center;
    padding-left: 120px;
    padding-right: 120px;
}
.div6 p{
    text-align:inherit;
    background-color: transparent;
    color: white;
}

#icon{
    text-align: center;
    align-content: center;
    
}

#icon a i{
    background-color: transparent;
    color: white;
    font-size: 40px;    
} */


/* @media quries  */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
    .container {
        width: 100%;
        position: relative;
    }

    .arrow {
        text-align: center;
        width: 55px;
        height: 55px;
        border-radius: 60px;

        position: fixed;
        top: 75%;
        left: 85%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }

    .S .M {
        width: 50%;
        min-height: 80vh;
    }

}

/* @media only screen and (max-width:490px) */
@media only screen and (max-width:490px) {
    .container {
        width: 100%;

    }

    .header h3 {
        font-size: 18px;
    }

    .arrow {
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 60px;

        position: fixed;
        top: 80%;
        left: 75%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .S .M {
        width: 100%;
        min-height: 65vh;
    }

    .M .head {
        min-height: 40px;
        width: 80%;
    }

    .head h3 {
        font-size: 20px;
    }

    .M i {
        margin-top: 15px;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .M ul li {

        font-size: 14px;
    }

    .M p {
        margin-top: 15px;
        font-size: 14px;
        margin-right: 10px;
    }

    .M p::after {
        bottom: -15px;
        width: 50%;
    }

    .M p:hover:after {
        width: 60%;
    }



    /* footer start here  */
    /* .footer{
        width: 100%;
        height: 10vh;
    }
    .footer .white{
        width: 48%;
        height: 220px;
        padding-right: 5px;
    }
    .white h2{
        letter-spacing: 0px;
        font-size: 14px;
    }
    .white h2::after{
        width: 70%;
        height: 2px;
        top: 35px;
    }
    .white p{
        width: 90%;
        font-size: 7px;
        text-align: start;
    }
    .white h3{
        font-size: 10px;
    } */

}