
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(109, 76, 138);
    font-family: sans-serif;
}   

.container{
    width: 80%;
    margin: auto;
}

.header{
    width: 100%;
    margin: auto;
    height: 65px;
    border: 1px solid #ffffff;

    align-content: center;
}
.header h3{
    margin-left: 8px;
    color: #ffe600;
}

.S{
    min-height: 100vh;
     border: 1px solid #ff0000; /*  remove it after */
}