* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(109, 76, 138);
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    position: relative
}
/* floating button */
.arrow {
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 60px;
    padding: 5px;
    position: fixed;
    top: 85%;
    left: 83%;
    z-index: 1;

    align-content: center;
    /* border: 1px solid #5d0174;
    background-color: white;
    box-shadow: 0 0 20px rgba(241, 237, 176, 0.7); 
    */
    border: 2px solid transparent;
    /* Create space for border */
    border-image: linear-gradient(to right, #378eff 50%, rgb(252, 165, 5) 50%);
    /* Half red, half blue */
    border-image-slice: 1;
    /* Make sure border-image fills the entire border area */

}

.arrow a {
    background-color: transparent;
}

.arrow img {
    width: 100%;
    border-radius: 60px;
    background-color: transparent;
}

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    margin: auto;
    height: 65px;
    border: 1px solid #ffffff;

    background-color: rgba(109, 76, 138, 0.74);
    backdrop-filter: blur(10px);
    align-content: center;
}

.header h3 {
    margin-left: 15px;
    color: #F2DF22;
    background-color: transparent;
    font-weight: bolder;
}

.S {
    min-height: 90vh;
    border: 1px solid #ff1e00;
    /*  remove it after */
    display: flex;
    gap: 60px;
    padding: 60px;
}

.S .M {
    width: 50%;
    max-height: 70vh;
    padding-top: 30px;

    border: 1px solid #000;
}

.S1 .head {
    width: 60%;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    background-color: #f6704ec9;
    border: 1px solid #fff8f8;
    align-content: center;

}

.head h2 {
    margin-left: 10px;
    letter-spacing: 2px;
    color: white;
    background-color: transparent;
    font-weight: bold;
}


/* footer  */
.footer {
    width: 100%;
    min-height: 55vh;
    background-color: #2642A3;
    border: 1px solid #000;

    display: flex;
}

.footer .white {
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;

    gap: 5px;
    position: relative;
}

.white h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    background-color: transparent;

}

.white h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40%;
    top: 58px;
    left: 20px;
    /* right: 100px; */
    background-color: crimson;
    transition: all 0.3s linear;
}
.white h2:hover:after{
    cursor: pointer;
    width: 70%;
}
.white p{
    background-color: transparent;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 30px;
    text-align: start;
}
.white h3{
    background-color: transparent;
    font-size: 13px;
    margin-top: 8px;
    font-weight: bolder;
}

.footer .social{
    padding: 20px;
    /* border: 1px solid #000; */
    width: 80%;
    background-color: transparent;
    display: grid;
     grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: ; */
    grid-template-areas: "div1 div1 div1 div1"
    "div2 div3 div4 div5"
    "div6 div6 div6 div6";

}
.social .S-M{
    /* border: 1px solid #000; */
    height: 100px;
    background-color: transparent;
   
}
.S-M a{ background-color: transparent;
   
}
.social .div1{
    grid-area: div1;
    text-align: center;
    align-content: center;
    position: relative;
}
.div1 h1{
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    white-space: 3px;
    font-size: 35px;
}
.div1 h1::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 1px;
    top: 80px;
    left: 350px;
    background-color: #fcfcfc;
}
.social .div2{grid-area: div2;}
.social .div3{grid-area: div3;}
.social .div4{grid-area: div4;}
.social .div5{grid-area: div5;}
.social .div6{grid-area: div6;}

.div6{
    text-align: center;
    align-content: center;
    padding-left: 120px;
    padding-right: 120px;
}
.div6 p{
    text-align:inherit;
    background-color: transparent;
    color: white;
}

#icon{
    text-align: center;
    align-content: center;
    /* background-color: transparent; */
}

#icon a i{
    background-color: transparent;
    color: white;
    font-size: 40px;    
}


/* @media quries  */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
    .container {
        width: 100%;
        position: relative;
    }

    .arrow {
        text-align: center;
        width: 55px;
        height: 55px;
        border-radius: 60px;

        position: fixed;
        top: 75%;
        left: 85%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }

    .S .M {
        width: 50%;
        min-height: 80vh;
    }

}

/* @media only screen and (max-width:490px) */
@media only screen and (max-width:490px) {
    .container {
        width: 100%;

    }

    .arrow {
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 60px;

        position: fixed;
        top: 80%;
        left: 75%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .S .M {
        width: 100%;
        min-height: 55vh;
    }
    .footer{
        width: 100%;
        height: 10vh;
    }
    .footer .white{
        width: 48%;
        height: 220px;
        padding-right: 5px;
    }
    .white h2{
        letter-spacing: 0px;
        font-size: 14px;
    }
    .white h2::after{
        width: 70%;
        height: 2px;
        top: 35px;
    }
    .white p{
        width: 90%;
        font-size: 7px;
        text-align: start;
    }
    .white h3{
        font-size: 10px;
    }
    
}