* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(109, 76, 138);
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    position:relative
}
.arrow{
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 60px;

    position: fixed;
    top: 85%;
    left: 83%;
    z-index: 1;
    
    align-content: center;
    border: 1px solid #fdfdfd;
}
.header {
    position: sticky;
    top:0px;
    width: 100%;
    margin: auto;
    height: 65px;
    border: 1px solid #ffffff;
    
    background-color: transparent;
    align-content: center;
}

.header h3 {
    margin-left: 15px;
    color: #F2DF22;
    background-color: transparent;
    font-weight: bolder;
}

.S {
    min-height: 90vh;
    border: 1px solid #ff1e00;
    /*  remove it after */
    display: flex;
    gap: 60px;
    padding: 60px;
}

.S .M {
    width: 50%;
    max-height: 70vh;
    border: 1px solid #000;
}

@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .container{
    width: 100%;
    position: relative;
  }
  .arrow{
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 60px;

    position: fixed;
    top: 75%;
    left: 85%;
    z-index: 1;
    
    align-content: center;
    border: 1px solid #fdfdfd;
}
  .S{
    min-height: 90vh;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
  .S .M{
    width: 50%;
    min-height: 80vh;
  }
  
}

/* @media only screen and (max-width:490px) */
@media only screen and (max-width:490px){
    .container{
        width: 100%;

    }
    .arrow{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 60px;

    position: fixed;
    top: 80%;
    left: 75%;
    z-index: 1;
    
    align-content: center;
    border: 1px solid #fdfdfd;
}
    .S{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .S .M{
        width: 100%;
        min-height: 60vh;
    }
}