@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Fjalla+One&family=Outfit:wght@100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #23253A;
    font-family: "Outfit", sans-serif;

}

.container {
    width: 100%;
    margin: auto;
    position: relative
}

/* floating button */
.arrow {
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 60px;
    padding: 5px;
    position: fixed;
    top: 85%;
    left: 83%;
    z-index: 1;

    align-content: center;
    text-align: center;
    border: 1px solid #ffffff;
    /* border: 1px solid #5d0174;
    background-color: white;
    box-shadow: 0 0 20px rgba(241, 237, 176, 0.7); 
    */

    /* Create space for border */

    /* Half red, half blue */
    /* border-image-slice: 1; */
    /* Make sure border-image fills the entire border area */

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.281);

}

.arrow i {
    color: #FF4B57;
    background-color: transparent;
    font-size: 35px;
}

/* header here  */
.header {
    position: sticky;
    top: 0px;
    width: 100%;
    margin: auto;
    height: 75px;
    /* border: 1px solid #ffffff; */

    background-color: rgba(109, 76, 138, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;

    display: flex;
}

.header .profile {
    flex-basis: 15%;
    background-color: transparent;
    align-content: center;
    text-align: center;

    border-right: 3px solid #FF4B57;
    margin-top: 7px;
    margin-bottom: 7px;
}

.profile img {
    margin-top: 3px;
    border-radius: 60%;
    width: 28%;
    height: 60px;
    border: 1px solid #483862;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.profile i {
    visibility: hidden;
}

.header .heading-s {
    flex-basis: 55%;
    margin-top: 7px;
    margin-bottom: 7px;
    align-content: center;
    background-color: transparent;
    /* border: 1px solid #ffffff; */
}

.heading-s h3 {
    margin-left: 25px;
    word-spacing: 3px;
    font-weight: 900;
    color: white;
    background-color: transparent;
}

.header .s-icons {
    flex-basis: 30%;
    background-color: transparent;
    /* border: 1px solid #ffffff; */

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.s-icons .ic {
    flex-basis: 35%;
    height: 35px;
    border-radius: 30px;
    background-color: #bab9c97a;
    border: 1px solid #000;

    /* text-align: center; */
    align-items: center;
    display: flex;
    gap: 5px;
}

.ic:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px white;
}

.ic .ic1 {
    background-color: transparent;
}

.ic1 i {
    font-size: 25px;
    background-color: transparent;
}

.ic .ic2 {
    background-color: transparent;
}

.ic2 a {
    font-size: 18px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

#ic1 {
    background-color: #5681ca8f;
}



/* sections here  */
.S {
    min-height: 90vh;
    /* border: 1px solid #ffffff; */
    /*  remove it after */
    display: flex;
    gap: 60px;
    padding: 60px;

}

.S .M {
    width: 50%;
    max-height: 70vh;
    padding-top: 30px;

    background-color: #2B2E41;
    border: 1px solid #ffffff33;

    position: relative;
    /* overflow: hidden; */
}

.M .head {

    width: 60%;
    min-height: 50px;
    /* border-left: 5px solid #FF4B57; */
    /* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */
    box-shadow: -6px 0 0px -1px #FF4B57;
    border-radius: 0px 30px 0px 0px;
    padding-left: 30px;
    align-content: center;

}

.S .M-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        radial-gradient(2px 2px at 20px 30px, white, transparent),
        radial-gradient(1.5px 1.5px at 100px 80px, white, transparent),
        radial-gradient(1px 1px at 200px 150px, white, transparent),
        radial-gradient(2px 2px at 300px 40px, white, transparent),
        radial-gradient(1.5px 1.5px at 400px 120px, white, transparent);

    background-size: 200px 200px;
    animation: snow-fall 12s linear infinite;
    opacity: 0.8;
    z-index: 0;
}

@keyframes snow-fall {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 600px;
    }
}

.S .M>* {
    position: relative;
    z-index: 0;
}





.head h3 {
    background-color: transparent;
    color: #FF4B57;
    letter-spacing: px;
    word-spacing: 5px;
    font-size: 26px;
}

.M i {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.514);
    font-size: 55px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.M ul {
    background-color: transparent;
    margin-left: 40px;
}

.M ul li {
    list-style: square;
    font-size: 18px;
    color: whitesmoke;
    /* list-style: none; */
    background-color: transparent;
}

.M p {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 70px;
    background-color: transparent;
    color: white;
}

.container .M1 {
    position: relative;
}

.M p::after {
    position: absolute;
    content: "";
    width: 45%;
    background-color: #ffffff;
    height: 1px;
    bottom: -40px;
    left: 0px;
    transition: all 0.3s linear;
}

.M p:hover::after {
    width: 80%;
}


/* footer  */


/* @media quries  */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
    .container {
        width: 100%;
        position: relative;
    }

    .arrow {
        text-align: center;
        width: 55px;
        height: 55px;
        border-radius: 60px;

        position: fixed;
        top: 75%;
        left: 85%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }

    .S .M {
        width: 50%;
        min-height: 80vh;
    }

}

/* @media only screen and (max-width:490px) */
@media only screen and (max-width:490px) {
    .container {
        width: 100%;

    }

    .header h3 {
        font-size: 18px;
    }

    .arrow {
        text-align: center;

        position: fixed;
        top: 80%;
        left: 75%;
        z-index: 1;

        align-content: center;
        border: 1px solid #fdfdfd;
    }

    .S {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .S .M {
        width: 100%;
        min-height: 65vh;
    }

    .M .head {
        min-height: 40px;
        width: 80%;
    }

    .head h3 {
        font-size: 20px;
    }

    .M i {
        margin-top: 15px;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .M ul li {

        font-size: 14px;
    }

    .M p {
        margin-top: 15px;
        font-size: 14px;
        margin-right: 10px;
    }

    .M p::after {
        bottom: -15px;
        width: 50%;
    }

    .M p:hover:after {
        width: 60%;
    }

    .header {
        width: 100%;
    }

    .header .profile {
        flex-basis: 20%;

        /* display: none; */
    }

    .profile img {
        display: none;
    }

    .profile i {
        color: rgb(230, 230, 230);
        font-size: 32px;
        background-color: transparent;
        visibility: visible;
    }

    .header .heading-s {
        flex-basis: 75%;
        /* border: 1px solid #000; */
    }

    .heading-s h3 {
        font-size: 14px;
        margin-left: 8px;
    }

    .header .s-icons {
        /* position: absolute;
        height: 200px;
        top: 75px;
        right: 150px;
        width: 180px;
        flex-direction: column;
        background-color: rgba(109, 76, 138, 0.5);
        padding: 10px;
        
        display: none;
         transition: transform 0.4s ease, opacity 0.4s ease; */

        position: absolute;
        height: 400px;
        top: 75px;
        right: 150px;
        width: 180px;

        flex-direction: column;
        background-color: rgba(109, 76, 138, 0.5);
        padding: 10px;

        /* animation setup */
        transform: translateX(-120%);
        opacity: 0;
        pointer-events: none;

        display: flex;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .header .s-icons.active {
         transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .profile i:hover .s-icons {
       
        display: block;
        visibility: visible;
    }

   .header .s-icons .ic{
        width: 90%;

        /* REMOVE desktop constraints */
        flex-basis: auto;
        height: auto;

        /* CONTROL height properly */
        /* padding: 12px 15px; */
        min-height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 10px; */

        background-color: #bab9c9;
    }
    .ic a{
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: 14px;
    }

    #ic1{
        background-color: #5681ca;
    }
    #ic1 a{
        color: white;
        background-color: transparent;
    }
}