
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(109, 76, 138);
    font-family: sans-serif;
}   

.header{
    width: 80%;
    margin: auto;
    height: 65px;
    border: 1px solid #ffffff;

    align-content: center;
}
.header h3{
    margin-left: 8px;
}