*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.nav-bar{
    border: 1px solid #000;
    margin: auto;
    /* width: 80%; */
    padding: 10px 20px;
    display: flex;
    background-color: #000;
    color: white;
    align-items: center;
    justify-content: space-between;
}
