*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.nav-bar{
    border: 1px solid #000;
    margin: auto;
    /* width: 80%; */
    padding: 10px 20px;
    display: flex;
    background-color: #000;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2.3rem;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    position: relative;
}
.menu li a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}
.menu a:hover{
    background-color: #444;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 150px;
    display: none;
}
.dropdown-menu li a{
    padding: 10px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.menu-icon{
    display: none;
    font-size: 25px;
}
#toggle-menu{
    display: none;
}

.boxes{
    width: 80%;
    margin: auto;
    border: 1px solid #ff0000;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 220px;
    align-items: center;
}
.boxes .box{
    width: 50%;
    height: 600px;
    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 10px 10px 30px black;

    animation: fadeUp 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(40px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotateY(0) scale(1);
    }
}


@media only screen and (max-width:768px){
    .menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #222;
    flex-direction: column;
    display: none;
  }
  .menu-icon {
    display: block;
  }
  #toggle-menu:checked + .menu-icon + .menu {
    display: block;
  }
  .dropdown-menu {
    position: static;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .boxes{
    padding: 10px;
    align-content: center;
  }
  .boxes .box{
    width: 90%;
    height: 300px;
    border-radius: 20px;
    box-shadow:none;
  }
}