*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
   
}

.box{
    width: 100%;
    margin: auto;
    /* border: 1px solid #000; */
}

.box .header{
    width: 100%;
    min-height: 90px;
    background-color: #103120;
}

.header img{
    width: 12%;
    padding: 10px;
    padding-left: 20px;
    float: right;
}

.header ul li{
    float: left;
    padding: 30px;
    display: inline-block;
}

.header ul li a{
    color: white;
    padding: 10px 35px 10px 35px;
    font-size: 18px;
    text-decoration: none;
    border: 0.01px solid #ffffff64;
    border-radius: 35px;
}

.header ul li a:hover{
    background-color: #FB8814;
    border: 3px solid #ffffff;
    font-weight: bold;
}
.box .marquee{
    width: 100%;
    min-height: 25px;
}
.marquee marquee a{
    text-decoration: none;
    font-size: 22px;
    padding: 15px 0px 15px 0px;
    color: #d10000;
}
.box .slider{
    width: 100%;

    min-height: 700px;
}
.slider .slider-img{
    width: 100%;
    min-height: 700px;
}

.box .content-1{
    width: 100%;
    min-height: 900px;
    background-color: #e1f5ea;
}

.content-1 .content-heading{
    width: 100%;
    min-height: 100px;
    padding: 50px;
    text-align: center;

}

.content-heading label{
    font-size: 30px;
    font-weight: bold;
}
.content-heading h3{
    color: #00000047;
    text-shadow: 0 0 8px rgb(121, 121, 121);
}

.content-1 .content-space{
    width: 100%;
    
    padding: 40px;
}


.content-space .content-img{
    width: 35%;
 
    float: left;
}

.content-img img{
    width: 100%;
    height: 650px;
    border-radius: 35px;
    box-shadow: 0 10px 25px rgba(47, 47, 47, 0.6);
    object-fit: cover;
}

.content-img img:hover{

    border: 3px solid #ffffff;
}

.content-space .content-detail{
    width: 60%;
    min-height: 650px;
    float: right;

}

.content-detail .detail-paragraph{
    width: 100%;
}

.content-detail .detail-paragraph label{
    font-size: 27px;
    font-weight: bold;
}

.content-detail .detail-paragraph h2{
    font-size: 21px;
    margin-top: 15px;
}

.detail-paragraph p{
    margin-top: 13px;
    font-size: 19px;
    margin-bottom: 19px;
}

#img-heading{
    font-size: 22px;
    font-weight: bold;
    color: #FB8814;    
}

.content-detail .D-IMGs{
    width: 100%;
    margin-top: 50px;
    min-height: 335px;
    padding: 10px;
    /* display: inline-block; */
    display: flex;           /* makes children side by side */
    justify-content: space-between; /* space between them */
    align-items: center;     /* align vertically center */
}

.D-IMGs .D-img{
    width: 30%;
    min-height: 270px;
}

.D-img .img-card{
    width: 100%;
    min-height: 140px;
    padding: 5px;
}

.D-img .img-card img{
    width: 100%;
    border-radius: 20px;
    height: 167px;
    box-shadow: 0 8px 15px rgba(47, 47, 47, 0.6);
}

.D-img .img-card p{
   margin-top: 10px;
   font-weight: bold;
   margin-bottom: 10px;
}

.D-img .img-card label{

   font-size: 20px;
   font-weight: bold;
   color: #FB8814; 
}


.footer{
    width: 100%;
    min-height: 300px;
    padding: 15px;
    background-color: #473B2D;
}

.footer .footer-content{
    width: 100%;
    min-height: 280px;
    padding: 2px;
    /* border: 1px solid #f5f1f1; */
    display: flex;           /* makes children side by side */
    justify-content: space-between; /* space between them */
}

.footer-content .footer-D{
    width: 30%;
    min-height: 100px;
    /* border: 1px solid #ffffff; */
}

#F-label1{
    font-weight:bold;
    font-size: 28px;
    color: white;
}

#F-Paragraph1{
    margin-top: 35px;
    font-weight: lighter;
    font-size: 19px;
    color: rgba(213, 213, 213, 0.896);
}

#contact-label{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.footer-D .social-media{
    width: 100%;
    padding: 10px;
}

.footer-D .social-media ul li{
    list-style: none;
    padding-top: 15px;
}

.footer-D .social-media ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(225, 223, 223, 0.842);
}

.footer-D .social-media ul li a:hover{
    color: white;
    font-weight: bold;
}


.last-block{
    width: 100%;
    background-color: #2D2522;
    text-align: center;
    padding: 12px;
}

.last-block h2{
    color: rgba(225, 223, 223, 0.842);
    font-size: 16px;

    font-weight: lighter;
} 