*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.box{
    width: 80%;
    margin: auto;
    padding: 5px;
    border: 1px solid #000;
}

.box .land-page{
    width: 100%;
    padding: 3px;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(181, 181, 181, 0.893) 100%),
    url(../Images/Landscape.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header specify here  */
.land-page .header{
    width: 100%;
    min-height: 70px;
    background: none;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    display:flex;
}

/* logo designs  */
.header .logo{
    width: 20%;
    height: 70px;
    background: none;
    text-align: center;
}
.logo label{
    font-size: 55px;
    background: none;
    color: #fbf0f0;
    font-weight: bolder;
    text-align: center;
}
.logo span{
    background: none;
    color: #ff9500;
}

/* navigation buttons  */
.header .nav{
    width: 50%;
    height: 70px;
    text-align: center;
    background: none;
     /*remove*/
}
.nav ul{
    background: none;
}
.nav ul li{
    list-style:none;
    background: none;
    display: inline-block;
    margin: 15px;
    padding: 7px;
}
.nav a{
    margin: 10px;
    font-size: 21px;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
    text-decoration: none;
}

.nav a:hover{
    cursor: pointer;
    padding: 15px;
    transition: 0.5s;
    border-radius: 20px;
    color: #000;
    background-color: #fdfdfd25;
    border: 1px solid #ffffff;
}


/* search box */
.header .search{
    width: 30%;
    min-height: 70px;
    background: none;
    padding: 12px;

}
.search .serach-section{
    width: 90%;
    border: 3.5px solid #ffffff;
    border-radius: 25px;
    background: none;
}
#input1{
    width: 70%;
    font-size: 20px;
    padding: 10px;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
}
input[type="text"]{
    color: white;
    border: none;
}
input[type="text"]:hover{
    border: none;
}
#search-btn{
    width: 29%;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #ff7a1a; */
}
#search-btn:hover{
    cursor: pointer;
    transition: 0.1;
    border: 2px solid #fff2f2;
    /* background: none; */
    background-color: #fdfdfd25;
    border: 1px solid #ffffff;
}
/* landing page content  */
.land-page .content{
    width: 100%;
    min-height: 800px;
    padding: 60px 40px 60px 40px;
    background: none;
    border: 1px solid #fbf0f0;
}

.content .content-s{
    width: 45%;
    min-height: 700px;
    background: none;
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}
.content-s h1{
    color: white;
    font-size: 55px;
    margin-bottom: 15px;
    background: none;
}
.content-s span{
    color: #ff8800;
    padding: 5px;
    background-color: #ffffff75;
}
.content-s p{
    color: white;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 60px;
    background: none;
}
.content-s button{
    width: 20%;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    color: #fbf0f0;
    background: none;
    border: 1px solid #ffffff;
}
.content-s button:hover{
    background-color: #fdfdfd72;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
/* form design  */
.content .form{
    float: right;
    width: 45%;
    min-height: 700px;
    background: none;
    border: 1px solid #000;
    background-color: #eff4cf;
    /* display: flex; */
    padding: 40px;
    background: transparent;
}

/* form  */
.form .outer{
    width: 90%;
    margin: auto;
    border: 1px solid #ff0000;
    padding: 20px;
    background-color: #ffffffa1;
}
.outer .label{
    width: 80%;
    margin: auto;
    text-align: center;
    
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.label label{
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #ff8800;
}
.outer table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: none;

} 
table tr td{
    border-spacing: 80px;
}

input[type="email"],
input[type="Password"]{
    width: 100%;
    /* background: none; */
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
