* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.body {
    background-color: rgba(148, 148, 148, 0.303);
}

.Cotainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 700px 500px 200px;
    grid-template-areas: "header header header"
        "slider slider slider"
        "content-1 content-2 content-3"
        "footer footer footer";

    gap: 12px;
    border: 1px solid #000;
}

.header {
    grid-area: header;
    background-color: #F0D582;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 100px;
}
.header .logo{
    width: 50%;
    /* border: 1px solid #000000; */
}
.logo ul{
    gap: 10px;
    display: flex;
    align-items: center;
    list-style: none;
}
.logo ul li img{
    width: 100px;
    height: 90px;
    padding-left: 20px;
}
.logo ul li h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #471629;
}
.header .menue{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
}
.menue ul {
    list-style: none;
    display: flex;
    align-items: center;   
    gap: 30px; 
}
.menue ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #471629;
    padding: 10px;
    /* border: 1px solid #000; */
}
.menue ul li a:hover{
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: #38311c1b;
    backdrop-filter: blur(10px); 
}

.slider {
    grid-area: slider;
    border: 1px solid #000;
}

.content-1 {
    grid-area: content-1;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}
.content-1 .card-1{
    width: 80%;
    padding: 10px;
    /* border: 1px solid #000;   */
    background-color: #e68a1154;  
}
.card-1 .h3{

    width: 25%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 9px;
    border: 1px solid #ffffff5a;
    margin-bottom: 10px;
    background-color: rgb(96, 155, 7);
}
.card-1 img{
    width: 300px;
    height: 200px;
}
.content-2 {
    grid-area: content-2;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}

.content-3 {
    grid-area: content-3;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}

.footer {
    grid-area: footer;

    border: 1px solid #000;
}