*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    /* background-color: rgb(94, 152, 202); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid #000;
}
.container .S{
    width: 100%;
    min-height: 100vh;
    border: 1px solid #000;
}

.section-1{
    /* background: url(../Images/duo-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    width:100%;
    background-image:
    linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 100%),
    url('../Images/duo-1.jpeg');
    

    background-size: cover;
    background-position: center;   
    
    display: flex;
    flex-direction: column;
}

.section-1 .header{
    height: 70px;
    border: 1px solid #ffffff;
}

.section-1 .content{
    height: 580px;
    border: 1px solid #fc0000;
    padding: 4rem;
}
.content h1{
    font-size: 3.5rem;
    color: white;
    letter-spacing: 2px;
}
.content p{
    max-width: 500px;
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    font-weight: 300;
}
.content h5{
    font-size: 1remvw;
    color: white;
    font-weight: lighter;
}
.content h5 a{
    text-decoration: none;
    font-size: 1rem;
    color: aqua;
    font-weight: bold;
}

.content button{
    margin-top: 20px;
    padding: 10px 30px;
    /* width: 15%; */
    border-radius: 20px;
    /* padding: 4px; */
    background-color: black;
    border: 1px solid #fffefe;
    transition: 0.3s ease-in-out;
}
.content button:hover{
    cursor: pointer;
    border: 2px solid #fffdfd;
    box-shadow: 0px 0px 16px rgb(192, 192, 192, 0.8);
}
.content button a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}


@media only screen and (max-width:768px){
    
}

@media only screen and (max-width:490px){
    
}
