* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    /* background-color: rgb(94, 152, 202); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    border: 1px solid #000;
}

.container .S {
    width: 100%;
    min-height: 100vh;
    border: 1px solid #000;
}

.section-1 {
    /* background: url(../Images/duo-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 100%),
        url('../Images/duo-1.jpeg');


    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}

.section-1 .header {
    height: 70px;
    border: 1px solid #ffffff;

    display: flex;
    justify-content: flex-end;
}

.header .logo {
    width: 25%;
    /* border: 1px solid #dc0000; */

    align-content: center;
}

.logo h3 {
    color: white;
    font-size: 2.2rem;
}

.header .menu {
    width: 49%;
    /* border: 1px solid #ff0000;   */

    align-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu ul li {
    width: 15%;
    text-align: center;

    border-radius: 10px;
    border: 1px solid #ddd9d9ac;
    background-color: rgba(245, 245, 245, 0.295);
}

.menu ul li:hover {
    cursor: pointer;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 8px #fffdfd;
}

/* .menu ul li a:hover{
    color: orangered;
} */
.menu ul li a {
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    /* background-color: #fffdfd; */
    color: #000000;
    font-weight: bold;
    /* border: 1px solid #000; */
}

.header .btn-s {
    width: 20%;
    /* border: 1px solid #ff0000; */
}

.section-1 .content {
    height: 580px;
    /* border: 1px solid #fc0000; */
    padding: 4rem;
}

.content h1 {
    font-size: 3.5rem;
    color: white;
    letter-spacing: 2px;
}

.content p {
    max-width: 500px;
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    font-weight: 300;
}

.content h5 {
    font-size: 1remvw;
    color: white;
    font-weight: lighter;
}

.content h5 a {
    text-decoration: none;
    font-size: 1rem;
    color: aqua;
    font-weight: bold;
}

.content button {
    margin-top: 20px;
    padding: 10px 30px;
    /* width: 15%; */
    border-radius: 20px;
    /* padding: 4px; */
    background-color: black;
    border: 1px solid #fffefe;
    transition: 0.3s ease-in-out;
}

.content button:hover {
    cursor: pointer;
    border: 2px solid #fffdfd;
    box-shadow: 0px 0px 16px rgb(192, 192, 192, 0.8);
}

.content button a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

/* section 2 product statrt here  */
.container .section-2 {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-2 .s-1 {
    width: 500px;
    height: 70vh;
    /* border: 1px solid #ff1111; */
    align-content: center;
    text-align: center;
    padding: 30px;
}

.s-1 img {
    width: 25%;
}

.s-1 h3 {
    margin-top: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.s-1 p {
    margin-top: 10px;
    color: white;
    text-align: inherit;
}

.s-1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.section-2 .S2-Box1 {
    background-color: #393838;
}

.section-2 .S2-Box2 {
    background-color: #41D3D6;
}


.section-2 .S2-Box3 {
    background-color: #36b4b4;
}

/* section -3  */
.container .section-3{
    min-height: 80vh;
    text-align: center;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.section-3 p{
    margin: 25px;
    text-align:inherit;
}
.section-3 button{
    margin: 20px;
    width: 10%;
    padding: 2px;
    border: 1px solid #000;
    background-color: white;
}
.section-3 button:hover{
    cursor: pointer;
    border: 2px solid #000;
    /* box-shadow: 1px 1px 28px  7px black; */
    box-shadow: 0px 0px 8px rgba(47, 46, 46, 0.4);
}


@media only screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .container .content h1 {
        font-size: 3rem;
    }

    .container .header h3 {
        font-size: 1.6rem;
    }

    .container .menu ul li {
        width: 17%;
    }

    .container .menu ul li a {
        font-size: 1.6vh;
    }

    .container .section-2 {
        min-height: 45vh;

    }

    .section-2 .s-1 {
        height: 45vh;
    }

    .s-1 img {
        width: 25%;
    }

    .s-1 h3 {
        margin-top: 5px;
        font-size: 15px;
    }

    .s-1 p {
        margin-top: 5px;
        font-size: 12px;
    }

    .s-1 a {
        font-size: 12px;
    }

    .container .section-3{
        min-height: 60vh;
    }
}


@media only screen and (max-width:490px) {
    .container {
        width: 100%;
    }

    .container .content h1 {
        font-size: 2.7rem;
    }

    .container .header h3 {
        font-size: 1.1rem;
    }

    .container .menu ul li {
        width: 20%;
    }

    .container .menu ul li a {
        font-size: 10px;
    }

    .container .section-2 {
        min-height: 30vh;
    }

    .section-2 .s-1 {
        height: 30vh;
    }
    .s-1{
        padding: 8px;    
    }
    .s-1 img {
        width: 25%;
    }

    .s-1 h3 {
        margin-top: 3px;
        font-size: 12px;
    }

    .s-1 p {
        margin-top: 3px;
        font-size: 9px;
    }

    .s-1 a {
        font-size: 9px;
    }

    .container .section-3{
        min-height: 60vh;
    }
    .section-3 h1{
        font-size: 24px;
    }
    .section-3 p{
        font-size: 13px;
    }
    .section-3 button{
        width: 20%;
    }
}