* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    /* width: 80%; */
    margin: auto;
    /* background-color: aqua */
}

/* header part  */

.header {
    height: 120px;
    background-color: white;
    /* border: 1px solid #000; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.header ul {
    display: flex;
    gap: 70px;
    list-style: none;
}

.header ul li a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

#chatpter {
    color: goldenrod;
    font-size: 45px;
    font-family: "Brush Script MT", cursive;
}

/* section -1   */

.section-1 {
    height: 90vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.61)),
        url('../Images/grp.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* border: 1px solid #000;  */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

}

.section-1 .s-content {
    display: flex;
    flex-direction: column;
    width: 40%;

    align-items: center;
}

.s-content p {
    color: white;
    font-size: 34px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 10px;
}

.s-content .line {
    margin-top: 30px;
    width: 70%;
    padding: 5px;
    background-color: #B29776;
}

.line h2 {
    color: white;
    font-size: 22px;
}

/* section -3   */
.section-2 {
    height: 100vh;
    padding: 10vh;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 65vh;
    grid-template-areas: "box1 box1 box1"
        "box2 box3 box4";

}

.s2 {
    /* border: 1px solid #000;  */

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    /* justify-content: center;  */
    gap: 45px;
    overflow: hidden;
}

.s2 .img img {
    height: 300px;
}

.s2 .info {
    width: 80%;
}

.info h1 {
    font-size: 48px;
}

.info p {
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}

.s2 .h2 {
    width: 45%;
    padding: 7px 17px;
    background-color: #9CA7AB;
}

.h2 h2 {
    font-size: 16px;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
}

.section-2 .content1 {
    grid-area: box1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1 h2 {
    font-size: 34px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.section-2 .content2 {
    grid-area: box2;

}

.section-2 .content3 {
    grid-area: box3;

}

.section-2 .content4 {
    grid-area: box4;

}

/* section - 3  */
.section-3 {
    height: 100vh;

    /* border: 1px solid #000;  */
    display: flex;
}

.section-3 .half-img {
    width: 45%;
    /* border: 1px solid #000;  */
    background-image:
        url('../Images/T-2.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-3 .half-content {
    width: 55%;
    background-color: #F6F5F1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 200px;
    padding-right: 150px;

    /* border: 1px solid #000;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.half-content h1 {
    font-weight: lighter;
    font-size: 58px;
    word-spacing: 5px;
}

.half-content h2 {
    font-weight: lighter;
    font-size: 34px;
    word-spacing: 5px;
}

.half-content h3 {
    font-weight: lighter;
    font-size: 18px;
    text-align: start;
    word-spacing: 5px;
}

.half-content .read {
    width: 43%;
    text-align: center;
    background-color: #A98C6A;
    padding: 7px 17px;
}

.read h4 {
    font-size: 16px;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
}

/* section-4   */
.section-4 {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 60vh 8vh;
    grid-template-areas: "product1 product1 product1 product1"
        "product2 product3 product4 product5"
        "product6 product6 product6 product6";

    justify-items: center;
    gap: 10px;
    align-content: center;
}

.section-4 .P {
    width: 80%;
    /* border: 1px solid #000;  */
}

.P .s4-info {
    width: 100%;
    background-color: #FBFAF6;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    height: 35vh;
}

.s4-info h3 {
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 2px;
}

.s4-info p {
    font-size: 26px;
    letter-spacing: 2px;
}

.P .s4-img {
    width: 100%;
    height: 25vh;
    background-image:
        url('../Images/card-3.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-4 .product1 {

    width: 80%;
    grid-area: product1;
    display: flex;
    /* border: 1px solid #000;  */
    align-items: center;
    justify-content: center;
}

.product1 h1 {
    font-size: 48px;
    font-weight: lighter;
}

.section-4 .product2 {
    grid-area: product2;
}

.section-4 .product3 {
    grid-area: product3;
}

.section-4 .product4 {
    grid-area: product4;
}


.section-4 .product5 {
    grid-area: product5;
}

.section-4 .product6 {
    grid-area: product6;
    width: 15%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9AA5AB;
}

.product6 h1 {
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 24px;
    font-weight: lighter;
    color: white;
}

/* section-5 */
/* The remaining code we was the copy from section-3 because of these is the reflector of that section */
#half-img {
    width: 45%;
    /* border: 1px solid #000; */
    background-image:
        url('../Images/grp.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* footer  */
.footer {
    height: 50vh;
    background-color: #9AA5A7;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: center;
     */
    justify-content: space-evenly;
}

.footer h1 {
    font-size: 44px;
    font-weight: lighter;
    color: white;
}

.footer h2 {
    font-size: 26px;
    font-weight: lighter;
    color: white;
}

.footer .social img {
    color: white;
}

.footer h3 {
    font-weight: lighter;
    color: white;
    font-size: 22px;
}