*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
    border: 2px dashed #727272;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(13 1fr);

    gap: 10px;
    background-color: rgb(127, 126, 126);
}

.div{
    color: white;
    font-size: 20px;
    padding: 8px;
    border: 0.1px solid #ffffff;
    /* background-image: url(../Images/camera-1.jpeg); */

}

.div1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: red;
}

.div2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 13;
    background-color: violet;
}
.div3{
    grid-column: 3/5;
    grid-row: 1/3;
    background-color: blue;
}
.div4{
    grid-column: 5/7;
    grid-row: 1/3;
    background-color: rgb(148, 95, 10);
}
.div5{
    grid-column: 3/5;
    grid-row: 3/5;
    background-color: rgb(148, 95, 10);
}
.div6{
    grid-column: 5/7;
    grid-row: 3/5;   
    background-color: blue; 
}
.div7{
    grid-column: 3/5;
    grid-row: 5/7;
    background-color: rgb(117, 44, 31);
    
}
.div8{
    grid-column: 5/7;
    grid-row: 5/7;
    background-color: rgb(151, 246, 17);
}
.div9{
    grid-column: 3/5;
    grid-row: 7/9;
    background-color: rgb(151, 246, 17);
}
.div10{
    grid-column: 5/7;
    grid-row: 7/9;
    background-color: rgb(117, 44, 31);
}
.div11{
    grid-column: 3/7;
    grid-row: 9/11;
    background-color: green;
}
.div12{
    grid-column: 3/4;
    grid-row: 10/11;
    background-color: white;
    color: blue;
   
}
.div13{
    grid-column: 5/6;
    grid-row: 10/11;
    background-color: white;
    color: blue;
}
.div14{
    grid-column: 3/7;
    grid-row: 11/13;
    background-color: blue;
}
.div15{
    grid-column: 3/4;
    grid-row: 11/12;
    background-color: green;
}
.div16{
    grid-column: 5/6;
    grid-row: 11/12;
    background-color: green;
}