*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    /* background-color: rgb(94, 152, 202); */
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid #000;
}
.container .S{
    width: 100%;
    height: 650px;
    border: 1px solid #000;
}