@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    min-height: 100px;
    border: 1px solid #000;
}

.box{
    width: 100%;
    height: 60px;
    padding: 8px;
    text-align: center;
    background-color: rgb(164, 164, 223);    
}

.container .box label{
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.box-1{
    width: 100%;
    height: 50px;
    background-color: rgb(75, 74, 74);
}

.box-1 ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 25px;
}
.box-1 ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.box-1 ul li a:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.content-area{
    width: 100%;
    min-height: 100px;
    display: flex;
    border: 1px solid #e53a3a;

}

.content-area .left-content{
    width: 20%;
    background-color: rgb(218, 245, 245);
    border: 1px solid #000;
    padding: 20px;

}

.content-area .right-content{
    width: 30%;
    background-color: rgb(185, 238, 193);
    border: 1px solid #000;
    padding: 10px;
}

.content-area .centre-content{
    width: 50%;
    text-align: center;
    padding: 30px;
    background-color: rgb(240, 242, 196);
    border: 1px solid #000;
}

.content-area .left-content .content-L{
    width: 100%;
    border: 1px solid #000;
    min-height: 100%;
    background-color: #e53a3a;
}

.content-area .centre-content .form-area {
    width: 60%;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(244, 247, 250);
    /* border: 3px solid #c8caca; */
     /* box-shadow: h-offset v-offset blur spread color; */
    box-shadow: 4px 4px 15px rgba(150, 156, 150, 0.3);
}

.content-area .centre-content .form-area label{
    font-size: 30px;
    font-weight: bold;
}

.content-area .centre-content .form-area img{
    width: 24%;
    margin-bottom: 5px;

}
.content-area .centre-content .form-area p{
    font-size: 16px;
    color: #a09e9e;
    margin-top: 5px;
    margin-bottom: 15px;
}

.content-area .centre-content .form-area table{
    width: 100%;
    border-spacing: 10px;
}

.content-area .centre-content .form-area table tr td{
    /* border: 1px solid #000; */
}

input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    background-color: rgb(227, 242, 237);
    border-radius: 7px;
}

#msg {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;     
    background-color: rgb(227, 242, 237);
    resize: vertical;          /* allows user to stretch vertically */
}

#submit-btn{
   width: 100%;
   padding: 10px;
   font-size: 22px;
   background-color: rgb(108, 200, 246);
   text-decoration: none;
   color: white;
   border-radius: 10px;
   /* transition: 0.3s ease; */
}

#submit-btn:hover{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(49, 183, 250);
    cursor: pointer;
}

.content-area .right-content .bold-h{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
}

#heading-1{
    font-weight: bold;
    font-size: 150px;
    padding-right: 10px;
    color: rgb(184, 183, 240);
}

#heading-2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(141, 140, 239);
}

#img-1{
    width: 100%;
}

.content-area .right-content .video-section{
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

.content-area .right-content .video-section iframe{
    width: 100%;
    height: 300px;  /* Add height to make it visible */
    border: none;
}

.footer{
    width: 100%;
    border: 1px solid #09ff00;
    min-height: 100px;
}
