*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border: 1px solid #000;
}