* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    /* width: 80%; */
    margin: auto;
    background-color: aqua
}

/* header part  */

.header {
    height: 120px;
    background-color: white;
    /* border: 1px solid #000; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.header ul {
    display: flex;
    gap: 70px;
    list-style: none;
}

.header ul li a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

#chatpter {
    color: goldenrod;
    font-size: 45px;
}

/* section -1  */

.section-1 {
    height: 90vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.61)),
        url('../Images/grp.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

}

.section-1 .s-content {
    display: flex;
    flex-direction: column;
    width: 40%;

    align-items: center;
}

.s-content p {
    color: white;
    font-size: 34px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 10px;
}

.s-content .line {
    margin-top: 30px;
    width: 70%;
    padding: 5px;
    background-color: #B29776;
}

.line h2 {
    color: white;
    font-size: 22px;
}

/* section -3  */
.section-2 {
    height: 100vh;
    padding: 10vh;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 65vh;
    grid-template-areas: "box1 box1 box1"
        "box2 box3 box4";

}

.s2 {
    /* border: 1px solid #000; */

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    /* justify-content: center; */
    gap: 45px;
    overflow: hidden;
}
.s2 .img img{
    height: 300px;
}
.s2 .info{
    width: 80%;
}
.info h1{
    font-size: 48px;
}
.info p{
    margin-top: 12px;
    text-align:center;
    font-size: 18px;
    letter-spacing: 2px;
}
.s2 .h2{
    width: 45%;
    padding: 7px 17px;
    background-color: #9CA7AB;
}
.h2 h2{
    font-size: 16px;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
}

.section-2 .content1 {
    grid-area: box1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1 h2 {
    font-size: 34px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.section-2 .content2 {
    grid-area: box2;

}

.section-2 .content3 {
    grid-area: box3;

}

.section-2 .content4 {
    grid-area: box4;

}

/* section - 3 */
.section-3