*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.background{
    background: radial-gradient(circle at center, #b90148, #e86e99);
    height: 100vh;
    display: flex;
    align-items: center;
}

.box{
    width: 50%;
    padding: 50px;
    margin: auto;
    
}

table{
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: white;
    border-spacing: 0 10px; 
}
table,tr,td{
    margin: auto;

}

#login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

#colour{
    padding: 1px;
    background-color: rgb(253, 0, 0);
    border-radius: 2px;
}

#username,#password{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;    
}

#cntBTN{
    width: 100%;
    padding: 5px;
    color: white; 
    background: linear-gradient(to right,#e6126e, #f978ac);
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cntBTN:hover {
    background-color: rgb(219, 0, 186);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#msg{
    text-align: center;
    font-size: 12px;
}

.socialBTN {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

/* Twitter button */
.twitter {
  background: linear-gradient(to right,#39a9ef, #9ad5fa);
}
.twitter:hover {
   background: linear-gradient(to right, #1877F2, #89b9fd);
}

/* Facebook button */
.facebook {
  background-color: #1877F2;
}
.facebook:hover {
  background-color: #90b9f3;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.buttoninfo {
  font-size: 16px;
}
